@charset "UTF-8";

@media (max-width:1215px) {
    .conteiner{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 10vh 10vh;
        grid-template-areas: 
        "h h . ."
        "m m . .";
    }
    .produtos{
        display: grid;
        grid-template-columns: .1fr 0.1fr 0.1fr;
        grid-template-areas: 
        ". a1 a1 ."
        ". a1 a1 ."
        ". a2 a3 ."
        ". a4 a5 ."
        ". a6 a7 .";
        gap: 20px;
    }
    #img-1{
        border-radius: 10px;
        background-color: #ffffff;
        margin-left: 6px;
        width: 350px;
    }
    #img-1 img{
        margin: auto;
        width: 200px;
    }
    .produto-1{
        margin: auto;
    }
    .produto-3,.produto-2{
       display:grid;
        
    }
    .menu-lateral{
        display: none;
    }
    #img-2 img,#img-3 img,#img-4 img ,#img-5 img,#img-6 img,#img-7 img{
        width: 100px;
    }
    #img-2,#img-3,#img-4,#img-5,#img-6,#img-7{
        width: 165px;
    }
}